<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <title>VideogameDB</title>
        <script src="/javascripts/app.js"></script>
        <link rel="stylesheet" href="/css/index.css">

    </head>

    <body>
        <div ng-app="app">
            <div ng-controller="registerCtrl">
                <div uib-collapse="isCollapsed">
                    <div class="col-md-12">
                        <form ng-submit="register()" class="form">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="email" placeholder="email" required="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" ng-model="password" placeholder="password" required="" />
                                </div>
                                <!--<div class="form-group">-->
                                    <input type="submit" class="btn btn-success" value="Register"/>
                                    <!--<span class="text-danger">{{ error}}</span>-->
                                <!--</div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>