<div ng-controller="detailedGameCtrl" ng-model="data" ng-init="getDetailedPage()">
    <h1>{{response.name}}</h1>
    <br>
    Rating: {{response.rating}}
    <br>
    <div id='status'>
        Your Status: {{status.type}}
        <select class="form-control" ng-model="selectedStatus" ng-options="x for x in status_options"></select>
        <button type="button" class="btn btn-success" ng-click="submitStatus()">Submit</button>
    </div>
    <br>
    Developer: {{response.developer}}
    <br>
    Publisher: {{response.publisher}}
    <br>
    Year: {{response.release_date}}
    <br>
    Genre: 
    <div ng-repeat="s in response.genre_list">
        {{s.genre}}
    </div> 
    System List: 
    <div ng-repeat="s in response.system_list">
        {{s.system}}
    </div>
</div>