<div ng-controller="loginCtrl" ng-model="signedIn" ng-model="userId" ng-model="username" ng-init="checkToken()">
    <a id="banner-link" ng-href="/" target="_self">
        <img src="../images/logo.png" alt="Logo" >
    </a>
    <div ng-show="!signedIn" id="header-login-menu">
        <button type="button" class="btn btn" ng-click="goToLogin()">login</button>
        <button type="button" class="btn btn-success" ng-click="register()">Register</button>
    </div>
    <div ng-show="signedIn" id="header-login-menu">
        <!-- Single button -->
        <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{username}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="../profile" target="_self">Profile</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="../userGameList.html" target="_self">My List</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-success" ng-click="logout()">logout</button>
    </div>
</div>


