<div ng-controller="detailedProfileCtrl" ng-model="signedIn" ng-init="getDetailedProfile()">

    <h2>Your Game List:</h2>
    <table>
        <th>Name</th>
        <th>Your Rating</th>
        <th>Your Status</th>
        <tr ng-controller="detailedGameCtrl" ng-repeat="s in userList">
            <td><a ng-href="detailedPage.html?id={{s.game_id}}" target="_self">{{s.name}}</a></td>
            <td>{{s.review_score}}<select ng-model="selectedScore" ng-options="score_options.indexOf(selectedScore) as selectedScore 
                for selectedScore in score_options"></select><button type="button"  ng-click="submitRating(s.game_id)">Submit</button></td>
            <td>{{s.type}}<select ng-model="selectedStatus" ng-options="status_options.indexOf(selectedStatus) +  1 as selectedStatus
                for selectedStatus in status_options"></select><button type="button"  ng-click="submitStatus(s.game_id)">Submit</button></td>
        </tr>
    </table>

</div>